<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716755841297-m8frhbshvio9qmvof4t8ptt396ccs0p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716755841297-m8frhbshvio9qmvof4t8ptt396ccs0p6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>716755841297-45e5vf0p3do1t9lk6111a6srk3c5ns5d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGWOXKriOikl1DTn6_hbkllTIRAAMIJ8M</string>
	<key>GCM_SENDER_ID</key>
	<string>716755841297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BoundaryTestApp</string>
	<key>PROJECT_ID</key>
	<string>parentgeofencing-5d5e8</string>
	<key>STORAGE_BUCKET</key>
	<string>parentgeofencing-5d5e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716755841297:ios:37c78ce5ae4d1505a49cb0</string>
	<key>DATABASE_URL</key>
	<string>https://parentgeofencing-5d5e8-default-rtdb.firebaseio.com</string>
</dict>
</plist>